.p {
  padding: 1.5rem;
}
.icon-container {
  margin-top: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.layout {
  display: flex !important;
  gap: 8px !important;
  width: 50%;
}
.d-flex {
  display: flex !important;
}
.d-grid {
  display: grid !important;
}
.d-block {
  display: block !important;
}
.d-none {
  display: none !important;
}
.d-inline {
  display: inline !important;
}
.help {
  cursor: help !important;
}
.progress {
  cursor: progress !important;
}
.wait {
  cursor: wait !important;
}
.text {
  cursor: text !important;
}
.not_allowed {
  cursor: not-allowed !important;
}
.pointer {
  cursor: pointer !important;
}
.opacity-0 {
  opacity: 0 !important;
}
.opacity-25 {
  opacity: 0.25 !important;
}
.opacity-50 {
  opacity: 0.5 !important;
}
.opacity-75 {
  opacity: 0.75 !important;
}
.opacity-100 {
  opacity: 1 !important;
}
.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}
.sticky {
  position: sticky !important;
}
.static {
  position: static !important;
}
.fixed {
  position: fixed !important;
}
.s-none {
  box-shadow: none !important;
}
.text-align-left {
  text-align: left !important;
}
.text-align-center {
  text-align: center !important;
}
.text-align-right {
  text-align: right !important;
}
.none {
  cursor: none !important;
}
.align-items_center {
  display: flex !important;
  align-items: center !important;
}
.align-items_start {
  display: flex !important;
  align-items: flex-start !important;
}
.align-items_end {
  display: flex !important;
  align-items: flex-end !important;
}
.align_items_baseline {
  display: flex !important;
  align-items: baseline !important;
}
.align_items_stretch {
  display: flex !important;
  align-items: stretch !important;
}
.wrap {
  display: flex !important;
  flex-wrap: wrap !important;
}
.nowrap {
  display: flex !important;
  flex-wrap: nowrap !important;
}
.column {
  display: flex !important;
  flex-direction: column !important;
}
.row_reverse {
  display: flex !important;
  flex-direction: row-reverse !important;
}
.column_reverse {
  display: flex !important;
  flex-direction: column-reverse !important;
}
#center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
