@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 0.875rem;  // 1rem = 14px
}

html, body { height: 100%; }
