@use 'sass:map';
@use '@angular/material' as mat;
@use '@material/button';
@use '@material/chips';
@include mat.core();

/////////////// SMALL////////////////
.small {
  // TOOLBAR
  &.mat-toolbar-single-row {
    height: 48px !important;
  }
  //TABLE
  &.mat-mdc-table {
    .mdc-data-table__header-row {
      height: 36px;
    }
    .mdc-data-table__row {
      height: 28px !important;
    }
  }
  // ICON BUTTON
  &.mat-mdc-icon-button.mat-mdc-button-base {
    @include density(28px, 20px);
    & > .mat-icon {
      font-size: 16px !important;
    }
  }
  // RADIO BUTTON
  &.mat-mdc-radio-button .mdc-form-field .mdc-radio {
    --mdc-radio-state-layer-size: 38px;
    @include padding(38px, 20px);
    .mdc-radio__background {
      @include width-heigth(1.142857142857143rem);
    }
    .mdc-radio__native-control:checked
      + .mdc-radio__background
      .mdc-radio__inner-circle {
      transform: scale(0.4);
    }
    .mdc-radio__outer-circle {
      margin: 0.1428571428571429rem;
    }
    .mat-mdc-radio-touch-target,
    .mat-mdc-radio-group {
      height: 38px !important;
    }
  }

  // CHECKBOX
  .mdc-checkbox {
    --mdc-checkbox-state-layer-size: 2.857142857142857rem;
    @include padding(2.857142857142857rem, 1.428571428571429rem);
    .mdc-checkbox__background {
      @include width-heigth(1.142857142857143rem);
    }
    .mat-mdc-checkbox-touch-target,
    .mdc-checkbox__native-control {
      @include width-heigth(38px !important);
    }
  }

  &:not(.large) {
    &.mdc-button {
      @include button.density(-1.5);
      .mat-icon {
        @include icon-size(16px, 16px);
      }
      .mat-mdc-button-touch-target {
        height: 30px !important;
      }
    }
    &.mat-mdc-chip,
    &.mat-md-chip-option {
      @include chips.density(-2);
      .mat-mdc-standard-chip .mdc-evolution-chip__checkmark {
        @include width-heigth(1.142857142857143rem);
      }
      .mat-icon {
        @include icon-size(16px, 14px);
      }
    }
  }

  //DATAPICKER
  &.mat-mdc-form-field:has(.mat-datepicker-toggle) {
    .mat-mdc-icon-button.mat-mdc-button-base:has(
        svg,
        [matdatepickertoggleicon]
      ) {
      @include width-heigth(28px !important);
      @include padding(28px, 24px);
      svg {
        @include width-heigth(20px);
      }
      .mat-icon {
        @include icon-size(20px !important, 20px !important);
      }
    }
  }

  //FORM FIELD
  &.mat-mdc-form-field {
    &:not(.mat-form-field-appearance-fill) {
      @include mat.form-field-density(-5);
      .mat-mdc-form-field-infix {
        display: flex;
      }
    }
    &:not(.mat-form-field-appearance-outline) {
      @include mat.form-field-density(-3);
    }
    &.standard:not(.mat-form-field-appearance-outline) {
      @include mat.form-field-density(-4);
    }
  }

  //  LISTAS CON ICONO
  .mdc-list-item.mdc-list-item--with-one-line {
    --mdc-list-list-item-one-line-container-height: 33px;
    .mdc-list-item__primary-text > p {
      margin: 0px;
    }
    & > .mat-mdc-icon-button.mat-mdc-button-base {
      @include density(28px, 20px);
    }
  }

  // BUTTON TOGGLE
  @include mat.button-toggle-density(-3);

  // MAT-ICON
  &.mat-icon:not(.mat-button, .mat-mdc-button) {
    @include icon-size(
      1.428571428571429rem !important,
      1.285714285714286rem !important
    );
  }
  // SWITCH y/o SLIDE TOGGLE
  @include mat.slide-toggle-density(-5);
  &.mat-mdc-slide-toggle .mdc-switch {
    --mdc-switch-track-width: 1.857142857142857rem;
  }
  &.mat-mdc-slide-toggle .mdc-switch .mdc-switch__track {
    --mdc-switch-track-height: 0.7142857142857143rem;
  }
  &.mat-mdc-slide-toggle .mdc-switch .mdc-switch__handle {
    --mdc-switch-handle-height: 1.142857142857143rem;
    --mdc-switch-handle-width: 1.142857142857143rem;
  }
  &.mat-mdc-slide-toggle .mdc-switch .mdc-switch__handle-track {
    width: calc(100% - var(--mdc-switch-handle-width, 1.071428571428571rem));
  }

  // FAB, EXTEND FAB Y MINI FAB
  &.mdc-fab:not(.mdc-fab--extended) {
    @include width-heigth(40px);
    .mat-mdc-button-touch-target {
      height: 40px;
    }
  }
  &.mat-mdc-extended-fab {
    height: 2.428571428571429rem;
    .mat-mdc-button-touch-target {
      height: 34px;
    }
  }
  .material-icons,
  .mat-icon {
    @include icon-size(20px, 18px);
  }
  .mat-mdc-mini-fab .mat-mdc-button-touch-target {
    & > .mat-icon {
      @include icon-size(20px, 20px !important);
    }
  }
  // SUFFIX
  .mat-mdc-form-field-icon-suffix > .mat-icon {
    padding: 8px;
  }
  // SLIDER
  &.mdc-slider {
    --mdc-slider-inactive-track-height: 0.2rem;
    --mdc-slider-handle-width: 0.8571428571428571rem;
    --mdc-slider-handle-height: 0.8571428571428571rem;
    &.mat-mdc-slider .mdc-slider__track--active {
      --mdc-slider-active-track-height: 0.4rem;
    }
    .mat-mdc-slider-visual-thumb .mat-ripple {
      @include width-heigth(32px !important);
      border-radius: 50%;
      transform: translate(8px, 8.5px) !important;
    }
  }
  // MENU
  &.mat-mdc-menu-item {
    min-height: 2rem;
  }
  // ICONOS
  .mat-icon:not(
      .mat-mdc-extended-fab,
      .mdc-fab,
      .mat-mdc-mini-fab > .mat-icon,
      .mdc-button > .mat-icon,
      .mat-step-icon .mat-icon,
      .large
    ) {
    @include icon-size(1.4285714285714286rem, 1.4285714285714286rem);
  }
}

//////////////// MEDIUM ////////////////

:not(.large) {
  &.mat-mdc-menu-item.mdc-list-item,
  &.mat-mdc-option {
    min-height: 44px;
  }
  &.mat-mdc-chip,
  &.mat-md-chip-option {
    @include chips.density(0);
    &.mat-mdc-standard-chip .mdc-evolution-chip__checkmark {
      @include width-heigth(1.714285714285714rem);
    }
    &.mat-icon {
      @include icon-size(1.428571428571429rem, 1.285714285714286rem);
    }
  }
}
// ICON BUTTON
.mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-icon-size: 24px;
  --mdc-icon-button-state-layer-size: 48px !important;
  @include density(48px, 24px);
}

// ICONOS
.mat-icon:not(
    .mat-mdc-extended-fab,
    .mdc-fab,
    .mat-mdc-mini-fab > .mat-icon,
    .mdc-button > .mat-icon
  ) {
  @include icon-size(1.571428571428571rem, 1.571428571428571rem);
}

// TOOLBAR
.mat-toolbar-single-row {
  height: 64px !important;
}

//RADIO BUTTON
.mat-mdc-radio-button .mdc-form-field .mdc-radio {
  --mdc-radio-state-layer-size: 42px;
  @include padding(42px, 20px);
  .mat-mdc-radio-touch-target,
  .mat-mdc-radio-group {
    height: 42px !important;
  }
}

// FORM FIELD
.mat-mdc-form-field {
  &:not(.mat-form-field-appearance-fill) {
    @include mat.form-field-density(-1);
    .mat-mdc-form-field-infix {
      display: flex;
    }
  }
  &:not(.mat-form-field-appearance-outline) {
    @include mat.form-field-density(-1);
  }
  &.standard:not(.mat-form-field-appearance-outline) {
    @include mat.form-field-density(-3.25);
  }
}

// BUTTON
:not(.large, .small).mdc-button {
  .mat-icon {
    @include icon-size(20px, 20px);
  }
  .mat-mdc-button-touch-target {
    @include width-heigth(36px);
  }
}

//PROGRES SPINER
.mat-mdc-progress-spinner {
  @include width-heigth(3.571428571428571rem !important);
}
//BUTTON TOGGLE
.mat-button-toggle-group {
  @include mat.button-toggle-density(-3.5);
}

// EXPANSION PANEL
.mat-expansion-panel-header {
  height: fit-content !important;
  min-height: 48px;
  padding: 8px 16px !important;
}
.mat-expansion-panel-body {
  padding: 0 8px 16px !important;
}

// LISTAS CON ICONO
.mdc-list {
  @include mat.icon-button-density(-2);
  @include mat.list-density(-2);
  .mdc-list-item__primary-text > p,
  .mdc-list-item__primary-text > span {
    margin: 0px;
  }
  .mat-icon {
    @include icon-size(1.285714285714286rem, 1.285714285714286rem);
  }
  .mat-mdc-icon-button .mat-mdc-button-touch-target {
    @include width-heigth(2.857142857142857rem);
  }
}

// SUFFIX
.mat-mdc-form-field-icon-suffix > .mat-icon {
  padding: 0.5714285714285714rem;
}
// TAB
.mat-mdc-tab.mdc-tab {
  height: 2.857142857142857rem;
}
// SLIDER
.mat-mdc-slider
  .mdc-slider__track--inactive
  .mat-mdc-slider
  .mdc-slider__track {
  --mdc-slider-inactive-track-height: 0.2857142857142857rem;
}
.mat-mdc-slider .mdc-slider__track--active {
  --mdc-slider-inactive-track-height: 0.4285714285714286rem;
}
// FAB
.mat-mdc-extended-fab {
  height: 2.857142857142857rem;
}
// EXTENDED FAB
.mdc-fab:not(.mdc-fab--extended) {
  @include width-heigth(3.428571428571429rem);
}
// MINI FAB
.mat-mdc-mini-fab {
  .mat-mdc-button-touch-target {
    @include width-heigth(40px);
  }
}
//STEPPER
.mat-step-header {
  &.mat-horizontal-stepper-header {
    height: 34px;
  }
}

.mat-step-icon .mat-icon {
  @include icon-size(16px !important, 16px !important);
}

// CHECKBOX
.mdc-checkbox {
  --mdc-checkbox-state-layer-size: 42px;
  @include padding(42px, 18px);
  .mdc-checkbox__background {
    @include width-heigth(18px);
  }
  .mat-mdc-checkbox-touch-target {
    @include width-heigth(42px !important);
  }
}
// TABLE
.mat-mdc-table {
  .mdc-data-table__header-row {
    height: 56px;
  }
  .mdc-data-table__row {
    height: 48px;
  }
}
//////////////// LARGE ////////////////
.large {
  // ICON BUTTON
  &.mat-mdc-icon-button.mat-mdc-button-base {
    @include density(56px, 36px);
  }
  //Button
  &:not(.small) {
    &.mdc-button {
      padding-inline: 22px;
      @include button.density(0);
      .mat-icon {
        @include icon-size(1.714285714285714rem, 1.571428571428571rem);
      }
      .mat-mdc-button-touch-target {
        @include width-heigth(36px !important);
      }
    }
  }
  .mat-button-toggle > .mat-icon {
    @include icon-size(1.285714285714286rem, 1.285714285714286rem);
  }
  &.mat-mdc-chip .mat-icon {
    @include icon-size(1.714285714285714rem, 1.714285714285714rem);
  }
  // MAT ICON
  &.mat-icon {
    @include icon-size(2.5rem !important, 2.142857142857143rem !important);
  }
  // FAB
  &.mat-mdc-extended-fab {
    height: 3.571428571428571rem;
  }
  &.mdc-fab:not(.mdc-fab--extended) {
    @include width-heigth(4rem);
  }
  // LIST ITEM
  &.mdc-list {
    @include mat.icon-button-density(-1);
    @include mat.list-density(-1);
  }
}
[class*='mat-mdc-paginator'] {
  .mat-mdc-form-field {
    @include mat.form-field-density(-5);
  }
}

.cdk-overlay-pane {
  &:has([role='listbox'].mat-option-small, [role='menu'].menu-item-small) {
    .mat-mdc-option,
    .mat-mdc-menu-item {
      min-height: 2rem;
    }
  }
}

.mat-mdc-button-base.mdc-icon-button {
  &.mat-mdc-paginator-navigation-previous,
  &.mat-mdc-paginator-navigation-next {
    @include width-heigth(28px !important);
    @include padding(28px, 24px);
    svg {
      @include width-heigth(20px !important);
    }
  }
}
