@use "@angular/material" as mat;
@use "sass:map";

html {
  font-size: 0.875rem; 
}

$headline-5: mat.define-typography-level(
  $font-weight: 300,
  $font-size: 6.85714286rem,
  $line-height: 1.16697916667,
  $letter-spacing: -0.10714285714285714em,
  $font-family: "Nunito",
);

$headline-6: mat.define-typography-level(
  $font-weight: 400,
  $font-size: 4.28571429rem,
  $line-height: 1.2,
  $letter-spacing: -0.03571428571428571em,
  $font-family: "Nunito ",
);

$h3: mat.define-typography-level(
  $font-weight: 500,
  $font-size: 3.42857143rem,
  $line-height: 1.16708333333,
  $letter-spacing: 0em,
  $font-family: "Nunito ",
);

$h4: mat.define-typography-level(
  $font-weight: 500,
  $font-size: 2.42857143rem,
  $line-height: 1.235,
  $letter-spacing: 0.017857142857142856em,
  $font-family: "Nunito ",
);

$h5: mat.define-typography-level(
  $font-weight: 500,
  $font-size: 1.28571429rem,
  $line-height: 1.26,
  $letter-spacing: 0,
  $font-family: "Nunito ",
);

$h6: mat.define-typography-level(
  $font-weight: 600,
  $font-size: 1.142857142857143rem,
  $line-height: 1.5,
  $letter-spacing: 0.010714285714285714em,
  $font-family: "Nunito ",
);

$subtitle-1: mat.define-typography-level(
  $font-weight: 500,
  $font-size: 1rem,
  $line-height: 1.43,
  $letter-spacing: 0.010714285714285714em,
  $font-family: "Roboto, sans-serif ",
);

$subtitle-2: mat.define-typography-level(
  $font-weight: 500,
  $font-size: 0.9285714285714286rem,
  $line-height: 1.34,
  $letter-spacing: 0.0071428571428571435em,
  $font-family: "Roboto, sans-serif ",
);

$body-1: mat.define-typography-level(
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1.43,
  $letter-spacing: 0.010714285714285714em,
  $font-family: "Roboto, sans-serif ",
);

$body-2: mat.define-typography-level(
  $font-weight: 400,
  $font-size: 0.9285714285714286rem,
  $line-height: 1.34,
  $letter-spacing: 0.012142857142857144em,
  $font-family: "Roboto, sans-serif ",
);

$caption: mat.define-typography-level(
  $font-weight: 400,
  $font-size: 0.7857142857142857rem,
  $line-height: 1.5,
  $letter-spacing: 0.028571428571428574em,
  $font-family: "Roboto, sans-serif ",
);

$button: mat.define-typography-level(
  $font-weight: 500,
  $font-size: 1rem,
  $line-height: 1.71428571429,
  $letter-spacing: 0.028571428571428574em,
  $font-family: "Roboto, sans-serif ",
);

$overline: mat.define-typography-level(
  $font-weight: 400,
  $font-size: 0.7857142857142857rem,
  $line-height: 2.4,
  $letter-spacing: 0.07142857142857142em,
  $font-family: "Roboto, sans-serif ",
);

$bitakora-typography: map.merge(
  mat.define-typography-config(
    $font-family: "Roboto, sans-serif ",
    $headline-5: $headline-5,
    $headline-6: $headline-6,
    $subtitle-1: $subtitle-1,
    $subtitle-2: $subtitle-2,
    $body-1: $body-1,
    $body-2: $body-2,
    $caption: $caption,
    $button: $button,
    $overline: $overline,
  ),
  (
    "h3": $h3,
    "h4": $h4,
    "h5": $h5,
    "h6": $h6,
    "overline": $overline,
  )
);

@include mat.all-component-typographies($bitakora-typography);

.mat-typography .mat-h3,
.mat-typography h3,
.mat-typography .mat-toolbar h3 {
  @include mat.typography-level($bitakora-typography, "h3");
}

.mat-typography .mat-h4,
.mat-typography h4,
.mat-typography .mat-toolbar h4 {
  @include mat.typography-level($bitakora-typography, "h4");
}

.mat-typography .mat-h5,
.mat-typography h5,
.mat-typography .mat-toolbar h5 {
  @include mat.typography-level($bitakora-typography, "h5");
}

.mat-typography .mat-h6,
.mat-typography h6,
.mat-typography .mat-toolbar h6 {
  @include mat.typography-level($bitakora-typography, "h6");
}

.mat-overline {
  text-transform: uppercase;
  @include mat.typography-level($bitakora-typography, "overline");
}

.mat-typography .mat-stepper-horizontal .mat-step-label-selected,.mat-typography .mat-stepper-vertical .mat-step-label-selected {
  @include mat.typography-level($bitakora-typography, 'subtitle-2');
}

.mat-typography .mat-mdc-checkbox label,
.mat-typography .mat-mdc-radio-button label,
.mat-typography .mat-mdc-slide-toggle label {
  @include mat.typography-level($bitakora-typography, "body-1");
}
.mat-typography .mat-mdc-dialog-container .mdc-dialog__title {
  @include mat.typography-level($bitakora-typography, "h6");
}

.mat-typography .mat-stepper-horizontal,
.mat-typography .mat-stepper-vertical {
  .mat-step-label:not(.mat-step-label-selected.mat-step-label-active) {
    @include mat.typography-level($bitakora-typography, "body-2");
  }
  .mat-step-label-selected {
    @include mat.typography-level($bitakora-typography, "subtitle-2");
  }
}
