<button mat-icon-button><mat-icon>home</mat-icon></button>
<button mat-icon-button size="medium"><mat-icon>home</mat-icon></button>
<button mat-icon-button size="large"><mat-icon>home</mat-icon></button>
<mat-chip size="medium"
  >Hola
  <button matChipRemove aria-label="'remove ' + keyword">
    <mat-icon>cancel</mat-icon>
  </button>
</mat-chip>
<mat-icon>home</mat-icon>
<mat-icon size="medium">home</mat-icon>
<mat-icon size="large">home</mat-icon>
<mat-button-toggle-group>
  <mat-button-toggle value="red">Red</mat-button-toggle>
  <mat-button-toggle value="green">Green</mat-button-toggle>
  <mat-button-toggle value="blue">Blue</mat-button-toggle>
</mat-button-toggle-group>
<mat-button-toggle-group size="medium">
  <mat-button-toggle value="red">Red</mat-button-toggle>
  <mat-button-toggle value="green">Green</mat-button-toggle>
  <mat-button-toggle value="blue">Blue</mat-button-toggle>
</mat-button-toggle-group>
<mat-button-toggle-group size="large">
  <mat-button-toggle value="red">Red</mat-button-toggle>
  <mat-button-toggle value="green">Green</mat-button-toggle>
  <mat-button-toggle value="blue">Blue</mat-button-toggle>
</mat-button-toggle-group>
<mat-radio-button size="medium"></mat-radio-button>
<mat-radio-button size="small"></mat-radio-button>
