<div style="display: flex; flex-direction: column; align-items: center;justify-content: center; gap: 10px; ">
    <h2>
        Componentes Bitakora Small
    </h2>

    <button mat-raised-button size="small" color="primary">
        Button
        <mat-icon matSuffix >
            add
        </mat-icon>
    </button>

    <mat-chip color="primary" size="small">
        Chip
        <mat-icon matSuffix >
            add
        </mat-icon>
    </mat-chip>

    <mat-chip>Chip normal</mat-chip>


    <mat-icon>
        home
    </mat-icon>

    <button mat-icon-button size="small" color="primary">
        <mat-icon matSuffix >
            add
        </mat-icon>
    </button>

    <mat-radio-button size="small" >Radio button</mat-radio-button>

    <mat-checkbox>Checkbox</mat-checkbox>

</div>