 <button mat-raised-button color="accent">
  <mat-icon>search</mat-icon>
  button
</button>
<button mat-raised-button color="accent" disabled>
  <mat-icon>search</mat-icon>
  button
</button>
<button mat-raised-button class="mat-caution">
  <mat-icon>search</mat-icon>
  button
</button>
<button mat-raised-button class="mat-caution" disabled>
  <mat-icon>search</mat-icon>
  button
</button>
<br>
<br>
<div style="background-color: #121212; width: 300px; padding: 10px;">
  <mat-form-field class="darkMode">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker_1">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker_1"></mat-datepicker-toggle>
    <mat-datepicker #picker_1></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field class="darkMode">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker_2">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker_2">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>

    </mat-datepicker-toggle>
    <mat-datepicker #picker_2></mat-datepicker>
  </mat-form-field>
</div>
<br>
<mat-form-field color="accent">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker">
    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<br><br>
