@import "./mixins";

//CONFIG ALERT
[class*="mat-alert"] {
  & div {
    align-items: center;
  }
  & .mat-icon.icon-variant {
    @include icon-size(2.2rem !important, 2.2rem !important);
  }
}
// COLORES FORM FIELD ESTADO ERROR
[class*="mat-form-field-appearance-outline"] {
  &.mat-form-field-invalid.mat-focused {
    & .mdc-notched-outline {
      &__leading,
      &__trailing,
      &__notch {
        --mdc-theme-error: #d14343 !important;
      }
    }
  }
}
// Eliminacion hint elemento de form field componente
[class*="mat-mdc-form-field-subscript-wrapper"] {
  &:not(:has(:only-child mat-hint, mat-error)) {
    display: none !important;
  }
}
// CONFIGURACION
[class*="mdc-menu-surface--open"] {
  max-width: fit-content !important;
  &.mat-mdc-option {
    min-height: 2.6rem !important;
  }
  --mdc-menu-max-width: fit-content;
}
.mat-mdc-menu-item.mdc-list-item {
  min-height: 2.6rem !important;
}
// ---------------------------------------
// AVATAR COMPONENTE
// MIXIN DEFINICION DE PROPIEDADES PARA DIFERENTES VARIANTES DEL COMPONENTE AVATAR
@mixin avatarVariantes($width, $height, $borderRadius) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  background-color: #d8dae5 !important;
  box-shadow: none !important;
  width: $width !important;
  height: $height !important;
  border-radius: $borderRadius !important;
  font-size: 1.3rem;
  font-weight: 400;
}
// SIZE SMALL ( TAMAÑO PEQUEÑO POR DEFECTO )
.rounded {
  @include avatarVariantes(3.2rem, 3.2rem, 0.4rem);
  & img {
    @include avatarVariantes(3.2rem, 3.2rem, 0.4rem);
  }
}
.square {
  @include avatarVariantes(3.2rem, 3.2rem, 0rem);
  & img {
    @include avatarVariantes(3.2rem, 3.2rem, 0rem);
  }
}
.circular {
  @include avatarVariantes(3.2rem, 3.2rem, 10rem);
  & img {
    @include avatarVariantes(3.2rem, 3.2rem, 10rem);
  }
}
// SIZE MEDIUM
.rounded.medium {
  @include avatarVariantes(4rem, 4rem, 0.4rem);
  & img {
    @include avatarVariantes(4rem, 4rem, 0.4rem);
  }
}
.square.medium {
  @include avatarVariantes(4rem, 4rem, 0rem);
  & img {
    @include avatarVariantes(4rem, 4rem, 0rem);
  }
}
.circular.medium {
  @include avatarVariantes(4rem, 4rem, 10rem);
  & img {
    @include avatarVariantes(4rem, 4rem, 10rem);
  }
}
