@use "sass:map";
@use "@angular/material" as mat;
@use "@material/button";
@import "./mixins";
@include mat.core();

//CONFIG ALERT
[class*="mat-alert"] {
  & div {
    align-items: center;
  }
  & .mat-icon.icon-variant {
    @include icon-size(2.2rem !important, 2.2rem !important);
  }
}
// COLORES FORM FIELD ESTADO ERROR
[class*="mat-form-field-appearance-outline"] {
  &.mat-form-field-invalid.mat-focused {
    & .mdc-notched-outline {
      &__leading,
      &__trailing,
      &__notch {
        --mdc-theme-error: #d14343 !important;
      }
    }
  }
}
// Eliminacion hint elemento de form field componente
[class*="mat-mdc-form-field-subscript-wrapper"] {
  &:not(:has(:only-child mat-hint)) {
    display: none;
  }
}
// CONFIGURACION
[class*="mdc-menu-surface--open"] {
  max-width: fit-content !important;
  &.mat-mdc-option {
    min-height: 2.6rem !important;
  }
  --mdc-menu-max-width: fit-content;
}
.mat-mdc-menu-item.mdc-list-item {
  min-height: 2.6rem !important;
}
// ---------------------------------------
// AVATAR COMPONENTE

// SIZE SMALL ( TAMAÑO PEQUEÑO POR DEFECTO )
.rounded {
  @include avatarVariantes(3.2rem, 3.2rem, 0.4rem);
  & img {
    @include avatarVariantes(3.2rem, 3.2rem, 0.4rem);
  }
}
.square {
  @include avatarVariantes(3.2rem, 3.2rem, 0rem);
  & img {
    @include avatarVariantes(3.2rem, 3.2rem, 0rem);
  }
}
.circular {
  @include avatarVariantes(3.2rem, 3.2rem, 10rem);
  & img {
    @include avatarVariantes(3.2rem, 3.2rem, 10rem);
  }
}
// SIZE MEDIUM
.rounded.medium {
  @include avatarVariantes(4rem, 4rem, 0.4rem);
  & img {
    @include avatarVariantes(4rem, 4rem, 0.4rem);
  }
}
.square.medium {
  @include avatarVariantes(4rem, 4rem, 0rem);
  & img {
    @include avatarVariantes(4rem, 4rem, 0rem);
  }
}
.circular.medium {
  @include avatarVariantes(4rem, 4rem, 10rem);
  & img {
    @include avatarVariantes(4rem, 4rem, 10rem);
  }
}
//////////// SMALL CONFIGURATION

:not(.medium) {
  &.mat-mdc-chip,
  &.mat-md-chip-option {
    border-radius: 4px !important;
    height: 22px !important;
    &.mat-mdc-standard-chip .mdc-evolution-chip__checkmark {
      @include icon-size(1.4rem, null);
    }
    .mat-mdc-chip-remove .mat-icon {
      @include icon-size(1.4rem !important, 1.4rem !important);
    }
  }
  .mat-mdc-form-field {
    &:not(.mat-form-field-appearance-fill) {
      @include mat.form-field-density(-6);
      & .mat-mdc-form-field-infix {
        display: flex;
      }
      & label:not(.mdc-floating-label--float-above) {
        top: 50% !important;
      }
    }
    &:not(.mat-form-field-appearance-outline) {
      @include mat.form-field-density(-4.5);
      & .mat-mdc-form-field-infix {
        padding-bottom: 0px !important;
      }
    }
    &.standard:not(.mat-form-field-appearance-outline) {
      @include mat.form-field-density(-5.25);
      .mat-mdc-form-field-infix {
        padding-bottom: 0px !important;
      }
    }
    & .mat-icon {
      @include icon-size(16px!important, 16px!important);
      padding: 0px 12px !important;
      color: rgba(16, 24, 64, 0.54);
    }
    & .mat-mdc-select-arrow {
      color: rgba(16, 24, 64, 0.54);
    }
    & input,
    .mat-mdc-select {
      place-self: center;
    }
    @include mat.icon-button-density(-4);
  }
}
// SLIDE-TOGGLE
.mat-mdc-slide-toggle .mdc-switch {
  --mdc-switch-track-width: 26px;
}
.mat-mdc-slide-toggle .mdc-switch .mdc-switch__track {
  --mdc-switch-track-height: 10px;
}
.mat-mdc-slide-toggle .mdc-switch .mdc-switch__handle {
  --mdc-switch-handle-height: 1.6rem;
  --mdc-switch-handle-width: 1.6rem;
}
.mat-mdc-slide-toggle .mdc-switch .mdc-switch__handle-track {
  width: calc(100% - var(--mdc-switch-handle-width, 16px)) !important;
}
.mdc-switch__icons {
  display: none !important;
}
.mat-mdc-slide-toggle .mdc-switch .mdc-switch__ripple {
  height: 28px !important;
  width: 28px !important;
}
// ICONS
.mat-icon {
  @include icon-size(1.6rem !important, 1.6rem!important);
}
// BUTTON
.mdc-button {
  &:not(.large, .medium) {
    &.mdc-button {
      @include button.density(-2.5);
    }
    & .mat-icon {
      @include icon-size(14px !important, 16px!important);
    }
    .mat-mdc-button-touch-target {
      width: 26px;
      height: 26px;
    }
  }
}
//TOOLBAR
.mat-toolbar-single-row {
  height: 60px !important;
}
//PROGRES SPINER
.mat-mdc-progress-spinner {
  width: 4rem !important;
  height: 4rem !important;
}

//BUTTON TOGGLE
.mat-button-toggle-group {
  @include mat.button-toggle-density(-3);
  &.mat-icon {
    @include icon-size(2rem !important, 2rem);
  }
}

// EXPANSION PANEL
.mat-expansion-panel {
  .mat-expansion-panel-header.mat-expanded {
    height: 6rem;
  }
  & .mat-expansion-panel-header {
    height: 4.4rem;
  }
  & .material-icons {
    width: 1.6rem;
    height: 1.6rem;
  }
}
// LIST with icon
.mdc-list:not(.medium, .large) {
  .mdc-list-item.mdc-list-item--with-one-line {
    --mdc-list-list-item-one-line-container-height: 44px;
    & > .mat-mdc-icon-button.mat-mdc-button-base {
      padding: 4px !important;
    }
  }
  & .mat-icon {
    @include icon-size(1.8rem, 1.8rem);
  }
  & .mat-mdc-icon-button .mat-mdc-button-touch-target {
    @include icon-size(3.6rem, null);
  }
}
// ICON BUTTON
.mat-mdc-icon-button.mat-mdc-button-base:not(.mdc-list, .mdc-list-item) {
  @include icon-size(2.4rem !important, null);
  padding: 0 !important;
  & > .mat-icon {
    @include icon-size(1.6rem !important, 1.4rem !important);
    margin-bottom: 1px !important;
  }
  & .mat-mdc-button-touch-target {
    @include icon-size(24px !important, null);
  }
}
// SUFFIX
.mat-mdc-form-field-icon-suffix > .mat-icon {
  width: 18px;
  height: 18px;
  font-size: 16px;
  padding: 0.5714285714285714rem;
}
// TAB
.mat-mdc-tab-header {
  & .mat-mdc-tab.mdc-tab {
    height: 4rem;
  }
}
// SLIDER
.mdc-slider {
  --mdc-slider-inactive-track-height: 0.2rem;
  --mdc-slider-handle-width: 1.2rem;
  --mdc-slider-handle-height: 1.2rem;
  &.mat-mdc-slider .mdc-slider__track--active {
    --mdc-slider-active-track-height: 0.4rem;
  }
  .mat-mdc-slider-visual-thumb .mat-ripple {
    height: 32px !important;
    width: 32px !important;
    border-radius: 50%;
    transform: translate(8px, 8.5px) !important;
  }
}
// FAB
.mat-mdc-fab {
  &:not(.mdc-fab--extended) {
    width: 3.6rem;
    height: 3.6rem;
  }
  &.mat-mdc-extended-fab {
    height: 3.2rem;
  }
  .material-icons,
  .mat-icon {
    @include icon-size(22px, 19px);
  }
}
// EXTEND FAB
.mat-mdc-extended-fab > .mat-icon,
.mat-mdc-extended-fab > .material-icons {
  @include icon-size(18px !important, 18px !important);
}

// MAT CALENDAR
.mat-calendar-controls .mat-mdc-icon-button.mat-mdc-button-base {
  @include icon-size(4rem !important, null);
}
// CHECKBOX
.mdc-checkbox {
  @include mat.checkbox-density(-3);
  --mdc-checkbox-state-layer-size: 32px;
  padding: 5.5px !important;
  .mdc-checkbox__background {
    @include icon-size(15px, null);
  }
}
// DATA TABLE
.mat-mdc-table {
  &.mat-mdc-table .mdc-data-table__header-row {
    height: 36px;
  }
  &.mat-mdc-table .mdc-data-table__row {
    height: 32px;
  }
}
// RADIO BUTTON
.mdc-radio {
  --mdc-radio-state-layer-size: 24px;
  padding: 0px !important;
  .mdc-radio__background {
    @include icon-size(16px !important, null);
    .mdc-radio__outer-circle {
      margin: 0.2rem;
    }
  }
  .mdc-radio__native-control:checked
    + .mdc-radio__background
    .mdc-radio__inner-circle {
    transform: scale(0.45);
  }
  .mat-mdc-radio-touch-target {
    @include icon-size(24px, null);
  }
}

//DATAPICKER
.mat-mdc-form-field:has(.mat-datepicker-toggle) {
  --mdc-icon-button-icon-size: 20px;
  &:not(.mat-form-field-appearance-fill) {
    & .mat-datepicker-toggle > .mdc-icon-button {
      vertical-align: middle;
    }
  }
  &:not(.mat-form-field-appearance-outline) {
    & .mat-datepicker-toggle > .mdc-icon-button {
      vertical-align: baseline;
    }
  }
  &.standard:not(.mat-form-field-appearance-outline) {
    & .mat-datepicker-toggle > .mdc-icon-button {
      vertical-align: sub;
    }
  }
  & .mat-datepicker-toggle[matTextPrefix] {
    padding-right: 5px;
  }
}

/// MEDIUM CONFIGURATION

.medium {
  &.matAvatar--rounded {
    @include avatarVariantes(4rem, 4rem, 0.4rem);
    & img {
      @include avatarVariantes(4rem, 4rem, 0.4rem);
    }
  }
  //////////////// MEDIUM ////////////////
  // SWICH
  &.mat-mdc-slide-toggle .mdc-switch {
    --mdc-switch-track-width: 34px !important;
  }
  &.mat-mdc-slide-toggle .mdc-switch .mdc-switch__track {
    --mdc-switch-track-height: 14px !important;
  }
  &.mat-mdc-slide-toggle .mdc-switch .mdc-switch__handle {
    --mdc-switch-handle-height: 2rem !important;
    --mdc-switch-handle-width: 2rem !important;
  }
  &.mat-mdc-slide-toggle .mdc-switch .mdc-switch__handle-track {
    width: calc(100% - var(--mdc-switch-handle-width, 20px)) !important;
  }
  // FAB
  &.mat-mdc-fab {
    &:not(.mdc-fab--extended) {
      width: 4.8rem !important;
      height: 4.8rem !important;
    }
    &.mat-mdc-extended-fab {
      height: 3.8rem !important;
    }
    .material-icons,
    .mat-icon {
      @include icon-size(22px !important, 22px !important);
    }
  }
  &.mat-mdc-menu-item.mdc-list-item {
    min-height: 4.4rem !important;
  }
  // CHECKBOX
  &.mat-mdc-checkbox .mdc-checkbox {
    padding: calc(
      (var(--mdc-checkbox-state-layer-size, 4.2rem) - 0.8rem) / 2
    ) !important;
  }
  .mdc-checkbox__background {
    padding: 7px !important;
    margin: 5px !important;
  }
  .mdc-checkbox__native-control {
    @include icon-size(42px !important, null);
  }
  // Componentes con pseudo-clase  :not()
  // Brinda dar mayor especificidad al aplicar densidad   ( BUTTONS , MAT-CHIP, MAT-CHIP-OPTION )

  &.mat-mdc-chip,
  &.mat-md-chip-option {
    border-radius: 4px !important;
    height: 30px !important;
    &.mat-mdc-standard-chip .mdc-evolution-chip__checkmark {
      @include icon-size(1.4rem !important, null);
    }
    &.mat-mdc-standard-chip .mdc-evolution-chip__icon--trailing {
      @include icon-size(2.4rem !important, null);
    }
    .mat-mdc-chip-remove .mat-icon {
      @include icon-size(2rem !important, 1.8rem !important);
    }
  }
  // //FORM FIELD
  &.mat-mdc-form-field {
    &:not(.mat-form-field-appearance-fill) {
      @include mat.form-field-density(-1);
      & .mat-mdc-form-field-infix {
        display: flex;
      }
    }
    &:not(.mat-form-field-appearance-outline) {
      @include mat.form-field-density(-2.5);
    }
    &.standard:not(.mat-form-field-appearance-outline) {
      @include mat.form-field-density(-4.5);
    }
  }

  // BUTTON
  &.mdc-button {
    &:not(.large, .small) {
      &.mdc-button {
        @include button.density(-1);
      }
      & .mat-icon {
        @include icon-size(2rem, 1.8rem);
      }
    }
  }

  /// LIST with icon
  .mdc-list:not(.small) {
    @include mat.list-density(-1);
    .mat-icon {
      @include icon-size(2.4rem, 2.4rem);
    }
  }
  // ICON
  &.mat-icon {
    @include icon-size(2.4rem !important, 2.2rem !important);
  }
  //BUTTON TOGGLE
  &.mat-button-toggle-group {
    @include mat.button-toggle-density(0);
  }
  // ICON BUTTON
  @include mat.icon-button-density(-1);
  &.mat-mdc-icon-button.mat-mdc-button-base {
    @include icon-size(4.4rem !important, null);
    padding: 1.1rem !important;
    & > .mat-icon {
      @include icon-size(2rem !important, 1.8rem !important);
    }
  }
  // TAB
  .mat-mdc-tab.mdc-tab {
    height: 2.857142857142857rem;
  }
  // SLIDER
  &.mdc-slider {
    --mdc-slider-inactive-track-height: 0.4rem !important;
    --mdc-slider-handle-width: 2rem !important;
    --mdc-slider-handle-height: 2rem !important;
    &.mat-mdc-slider .mdc-slider__track--active {
      --mdc-slider-active-track-height: 0.6rem !important;
    }
    .mat-mdc-slider-visual-thumb .mat-ripple {
      height: 42px !important;
      width: 42px !important;
      border-radius: 50% !important;
      transform: translate(3px, 3px) !important;
    }
  }
}
//////////////// LARGE ////////////////
.large {
  // Componentes con pseudo-clase  :not()
  // Brinda dar mayor especificidad al aplicar densidad   ( BUTTONS , MAT-CHIP, MAT-CHIP-OPTION, TEXTFIELD )
  &:not(.small) {
    &.mdc-button {
      @include button.density(0);
    }
  }
  .mat-button-toggle > .mat-icon {
    @include icon-size(1.285714285714286rem, 1.285714285714286rem);
  }
  &.mat-mdc-chip .mat-icon {
    @include icon-size(1.714285714285714rem, 1.714285714285714rem);
  }
  // BUTTON TOGGLE
  &.mat-mdc-button-base > .mat-icon {
    @include icon-size(1.285714285714286rem, 1.285714285714286rem);
  }
  // ICON
  &.mat-icon {
    @include icon-size(3.5rem !important, 3.3rem!important);
  }
  // FAB
  &.mat-mdc-fab {
    &:not(.mdc-fab--extended) {
      width: 5.6rem !important;
      height: 5.6rem !important;
    }
    &.mat-mdc-extended-fab {
      height: 4.8rem !important;
    }
  }
  &.mat-mdc-icon-button.mat-mdc-button-base {
    @include icon-size(5.8rem !important, null);
    padding: 1.2rem 0 2px !important;
    & > .mat-icon {
      @include icon-size(3.5rem !important, 3.3rem !important);
    }
  }

  &.mat-button-toggle-group {
    & .mat-button-toggle {
      &-label-content {
        line-height: calc(24px + 32px);
      }
      & .mat-icon {
        @include icon-size(2.4rem !important, 2.2rem !important);
      }
    }
  }
}
